[submodule "bundle/vim-monokai-phoenix"]
	path = bundle/vim-monokai-phoenix
	url = https://github.com/connordelacruz/vim-monokai-phoenix.git
[submodule "bundle/vim-irblack"]
	path = bundle/vim-irblack
	url = https://github.com/wesgibbs/vim-irblack.git
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
