[submodule "bundle/lightline.vim"]
	path = bundle/plugin/lightline
    url = https://github.com/itchyny/lightline.vim.git
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/plugin/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/tlib"]
	path = bundle/plugin/tlib
    url = https://github.com/vim-scripts/tlib.git
    ignore = dirty
[submodule "bundle/vim-commentary"]
	path = bundle/plugin/commentary
    url = https://github.com/tpope/vim-commentary.git
    ignore = dirty
[submodule "bundle/vim-gitgutter"]
	path = bundle/plugin/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
    ignore = dirty
[submodule "bundle/vim-log-syntax"]
	path = bundle/syntax/log-file
	url = https://github.com/dzeban/vim-log-syntax.git
    ignore = dirty
[submodule "bundle/vim-javascript"]
	path = bundle/syntax/javascript
	url = https://github.com/pangloss/vim-javascript
    ignore = dirty
[submodule "bundle/multiple-cursors"]
	path = bundle/plugin/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
    ignore = dirty
[submodule "bundle/colors/onedark"]
	path = bundle/colors/onedark
	url = https://github.com/joshdick/onedark.vim
    ignore = dirty
[submodule "bundle/plugin/surround"]
	path = bundle/plugin/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/plugin/fugitive"]
	path = bundle/plugin/fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/plugin/visual-increment"]
	path = bundle/plugin/visual-increment
	url = https://github.com/triglav/vim-visual-increment.git
    ignore = dirty
[submodule "bundle/plugin/markdown-toc"]
	path = bundle/plugin/markdown-toc
	url = https://github.com/mzlogin/vim-markdown-toc.git
    ignore = dirty
[submodule "bundle/plugin/css-color"]
	path = bundle/syntax/css-color
	url = https://github.com/ap/vim-css-color.git
    ignore = dirty
[submodule "bundle/plugin/pydocstring"]
	path = bundle/plugin/pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
    ignore = dirty
[submodule "bundle/plugin/camelcasemotion"]
	path = bundle/plugin/camelcasemotion
	url = https://github.com/bkad/CamelCaseMotion.git
    ignore = dirty
[submodule "bundle/plugin/closetag"]
	path = bundle/plugin/closetag
	url = https://github.com/alvan/vim-closetag.git
    ignore = dirty
[submodule "bundle/plugin/abolish"]
	path = bundle/plugin/abolish
	url = https://github.com/tpope/vim-abolish.git
    ignore = dirty
[submodule "bundle/plugin/rst-table-mode"]
	path = bundle/plugin/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
    ignore = dirty
[submodule "bundle/plugin/colorizer"]
	path = bundle/plugin/colorizer
	url = https://github.com/chrisbra/Colorizer.git
    ignore = dirty
[submodule "bundle/plugin/pep8-indent"]
	path = bundle/plugin/pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
    ignore = dirty
[submodule "bundle/syntax/jsx"]
	path = bundle/syntax/jsx
	url = https://github.com/mxw/vim-jsx.git
    ignore = dirty
[submodule "bundle/plugin/splitjoin"]
	path = bundle/plugin/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
    ignore = dirty
[submodule "bundle/plugin/auto-pairs"]
	path = bundle/plugin/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
    ignore = dirty
[submodule "bundle/plugin/visual-star-search"]
	path = bundle/plugin/visual-star-search
	url = https://github.com/bronson/vim-visual-star-search.git
    ignore = dirty
[submodule "bundle/plugin/long-line-search"]
	path = bundle/plugin/long-line-search
	url = https://github.com/connordelacruz/vim-long-line-search.git
    ignore = dirty
[submodule "bundle/plugin/matchit"]
	path = bundle/plugin/matchit
	url = https://github.com/tmhedberg/matchit.git
    ignore = dirty
[submodule "bundle/plugin/nerdtree-git-plugin"]
	path = bundle/plugin/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
    ignore = dirty
[submodule "bundle/syntax/scss"]
	path = bundle/syntax/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
    ignore = dirty
[submodule "bundle/plugin/jcommenter"]
	path = bundle/plugin/jcommenter
	url = https://github.com/connordelacruz/jcommenter.vim.git
    ignore = dirty
[submodule "bundle/plugin/manpager"]
	path = bundle/plugin/manpager
	url = https://github.com/lambdalisue/vim-manpager.git
    ignore = dirty
[submodule "bundle/plugin/Tabmerge"]
	path = bundle/plugin/Tabmerge
	url = https://github.com/connordelacruz/Tabmerge.git
    ignore = dirty
[submodule "bundle/plugin/startify"]
	path = bundle/plugin/startify
	url = https://github.com/mhinz/vim-startify.git
    ignore = dirty
