[submodule "bundle/lightline.vim"]
	path = bundle/plugin/lightline
    url = https://github.com/itchyny/lightline.vim.git
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/plugin/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
    ignore = dirty
[submodule "bundle/tlib"]
	path = bundle/plugin/tlib
    url = https://github.com/vim-scripts/tlib.git
    ignore = dirty
[submodule "bundle/vim-commentary"]
	path = bundle/plugin/commentary
    url = https://github.com/tpope/vim-commentary.git
    ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/syntax/markdown
    url = https://github.com/tpope/vim-markdown.git
    ignore = dirty
[submodule "bundle/vim-gitgutter"]
	path = bundle/plugin/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
    ignore = dirty
[submodule "bundle/vim-log-syntax"]
	path = bundle/syntax/log-file
	url = https://github.com/dzeban/vim-log-syntax.git
    ignore = dirty
[submodule "bundle/vim-javascript"]
	path = bundle/syntax/javascript
	url = https://github.com/pangloss/vim-javascript
    ignore = dirty
[submodule "bundle/multiple-cursors"]
	path = bundle/plugin/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
    ignore = dirty
[submodule "bundle/colors/onedark"]
	path = bundle/colors/onedark
	url = https://github.com/joshdick/onedark.vim
    ignore = dirty
[submodule "bundle/plugin/surround"]
	path = bundle/plugin/surround
	url = https://github.com/tpope/vim-surround.git
    ignore = dirty
[submodule "bundle/plugin/fugitive"]
	path = bundle/plugin/fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "bundle/plugin/visual-increment"]
	path = bundle/plugin/visual-increment
	url = https://github.com/triglav/vim-visual-increment.git
    ignore = dirty
